*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;height: 100vh;
  background: url(assets/programming-background-with-person-working-with-codes-computer.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}